---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<br>
<i>Peer-reviewed publications</i>

Lind, F., Song, H., Boomgaarden, H., <b>Kathirgamalingam, A.</b>, Song, H., Syed Ali, K., & Vliegenthart, R. (2025). Research Practices in Comparative Communication Research: Visibility, Topical and Geographical Disparities, and their Longitudinal Patterns. International Journal of Communication, 19(26), 1103-1128. <a href="https://ijoc.org/index.php/ijoc/article/view/23510" target="_blank">https://ijoc.org/index.php/ijoc/article/view/23510</a>


<b>Kathirgamalingam, A.</b>, Lind, F., & Boomgaarden, H. (2023). Automated Detection of Voice in News Texts. Computational Communication Research, 5(1), 85-108. <a href="https://doi.org/10.5117/CCR2023.1.004.KATH" target="_blank">https://doi.org/10.5117/CCR2023.1.004.KATH</a>

<br>
<i>Book chapters, reports, non-peer-reviewed publications</i>

Dos Santos Choucair, T., <b>Kathirgamalingam, A.</b>, Lind, F., Bernhard, J., Boomgaarden, H., Oliveira, B., ... & Marino, G. (2024). Transformative Tools, Emerging Challenges: Empirical And Practical Experiences With Large Language Models For Text Classification And Annotation In Communication Studies. Aoir Selected Papers Of Internet Research. <a href="	https://doi.org/10.5210/spir.v2024i0.14102" target="_blank">	https://doi.org/10.5210/spir.v2024i0.14102</a>

Biringer, K., Haidn, K., Ivancic, D., <b>Kathirgamalingam, A.</b>, Lamp, F., & Uhl, M. (2023). under.docs: Future in Progress. UR: das Journal. Studentische Forschung an der Universität Wien. <a href="https://journals.univie.ac.at/index.php/urj/issue/view/620" target="_blank">https://journals.univie.ac.at/index.php/urj/issue/view/620</a>

Scheper, J. & <b>Kathirgamalingam, A.</b> (2022). Fünf Thesen zur Integration von Computational Communication Science in die Lehre. aviso – Informationsdienst der Deutschen Gesellschaft für Publizistik- und Kommunikationswissenschaft. <a href="https://www.dgpuk.de/de/publikationen/debatten/computational-communication-science/fuenf-thesen-zur-integration-von-ccs-der" target="_blank">Link</a>

Boomgaarden, H. & <b>Kathirgamalingam, A.</b> Fake News in Social and Natural Sciences: Survey in Austria. In: EPRS European Parliamentary Research Service (Ed.): Disinformation and Science. A Survey of the Gullibility of Students with regard to False Scientific News (pp. 5-14). 

Eberl, J.M., <b>Kathirgamalingam, A.</b> & Boomgaarden, H. (2020). Austria: On the Road to Peak TV Debate? In: J. Juarez-Gamiz et al. (Ed.): Routledge International Handbook on Electoral Debates, New York: Routledge. <a href="https://doi.org/10.4324/9780429331824" target="_blank">https://doi.org/10.4324/9780429331824</a>

<br />
<i>Preprints</i>

Kathirgamalingam, A., Lind, F., Bernhard-Harrer, J., & Boomgaarden, H. G. (2024). Agree to Disagree? Human and LLM coder bias for constructs of marginalization. <a href="https://doi.org/10.31235/osf.io/agpyr" target="_blank">https://doi.org/10.31235/osf.io/agpyr</a>
<br />
<i>Blog posts</i>

<b>Kathirgamalingam, A.</b> & Kulichkina, A. (2024). <a href="https://vds-sosci.univie.ac.at/your-benefits/networking-and-visibility/the-vidss-blog/ahrabhi-kathirgamalingam-and-aytalina-kulichkina-dismantling-the-ivory-tower/" target="_blank">Dismantling the ivory tower: Our perspectives from within.</a> The ViDSS Blog. Vienna Doctoral School of Social Sciences. 
<br />

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


