---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<br><br>
<h2><b>summer schools</b></h2>
<b>July 2026</b> - Summer School Course Instructor / <a href ="https://methodsnet.org/course/d06-introduction-to-quantitative-text-analysis/" target="_blank">Introduction to Quantitative Text Analysis</a> / MethodsNET Summer School at Central European University, Vienna, Austria
<br><br>
<b>22.06.2026</b> - Keynote lecture / <a href="https://sicss.io/2026/melbourne/training" target ="_blank">Social Bias in Computational Social Science</a>  / SICSS Summer Institute for Computational Social Science, Melbourne, Australia
<br><br>
<br><b>03.02.2026</b> - Workshop / Biased by Design? Unpacking Social Bias in CSS / <a href ="https://research.qut.edu.au/dmrc/research-training/dmrc-summer-school/" target="_blank">DMRC Summer School 2026</a> at Digital Media Research Centre, Queensland University of Technology, Brisbane, Australia
<br><br>


<h2><b>university teaching.</b></h2>
<br><br>
<b>Summer 2026</b> - Seminar in Bachelor's / DATA – Computer-assisted data analysis with R, Heinrich-Heine University Düsseldorf, Germany
<br><br>
<b>Winter 2025/26</b> - Seminar in Master's / Automated Analysis of Discursive Patterns, Heinrich-Heine University Düsseldorf, Germany
<br><br>
<b>Summer 2025</b> - Seminar in Bachelor's / DATA – Computer-assisted data analysis with R, Heinrich-Heine University Düsseldorf, Germany 
<br><br>
<b>Summer 2024</b> - Lecture in Bachelor's / Quantitative research methods for communication science, Department of Communication Science, University of Vienna, Austria
<br><br>
<b>Winter 2023</b> - Lecture in Master's / Advanced quantitative research methods for communication science, Department of Communication Science, University of Vienna, Austria



{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
